.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}
.card {
    width: 32%;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 280px;
    border: 1px solid #d9d9d9;
    padding: 9px 0 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content_view {
    flex: 1;
    z-index: 10;
}
.content_tag {
    padding: 9px 9px 0;
    z-index: 10;
}
.title {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 9px 0;
    z-index: 10;
}
.title .main {
    display: flex;
    align-items: flex-start;
}
.main .avatar_view {
    min-width: 40px;
    min-height: 40px;
}
.main .avatar_title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 限制两行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_light .main .avatar_title {
    color: #214784;
}
.middle_label {
    font-size: 12px;
    margin-top: 6px;
    padding: 0 9px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 限制两行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
}
.middle_label span {
    color: #000c17;
}
.flex_label .middle_label {
    padding: 0;
}
.flex_label {
    display: flex;
    padding: 0 9px 0;
    justify-content: space-between;
    z-index: 10;
}
.posi_right {
    position: absolute;
    height: 24px;
    line-height: 24px;
    background: #217dcd;
    margin: 0;
    color: #ffffff;
    text-align: center;
    right: 0;
    top: 0px;
    border-radius: 0 0 0 5px;
    padding: 0 10px ;
}
.posi_right.meituan {
    background: #ffc300;
}
.posi_right.eleme {
    background: #0192ff;
}
.posi_right .text {
    font-size: 12px;
    font-weight: bold;
}
.footer_view {
    /*border-top: 1px solid #d9d9d9;*/
    margin-top: 9px;
    display: flex;
    height: 32px;
    box-sizing: border-box;
}

.footer_view .button {
    border: none;
    border-radius: 0;
    height: 32px;
    box-sizing: border-box;
}
.footer_view .button.link{
    flex: 1;
    border-top: 1px solid #d9d9d9;
}
.footer_view .button.danger{
    border: 1px solid #ff4d4f;
    width: 25%;
}
.ant-modal-body img {
    background: #ffffff;
}
