.logo {
    overflow: hidden;
    display: flex;
}
.logo .name {
    height: 36px;
    color: #fff;
    font-size: 17px;
    width: 100%;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    /*animation: scroll 10s linear infinite;*/
    padding: 0 5px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    margin: 0 !important;
}
.ant-layout-sider-children {
    display: flex !important;
    flex-direction: column;
    height: 100%;
}
.body_sid {
    flex: 1;
}
.out_login {
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    padding-right: 10px;
}
.out_login:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 21, 41, 0.84);
}
.proxy_status {
    font-size: 13px;
    padding: 10px 20px;
    border-top: 1px solid rgba(132, 132, 132, 0.91);
    border-bottom: 1px solid rgba(132, 132, 132, 0.91);
}
.proxy_status_title {
    color: rgba(255, 255, 255, 0.65);
    padding: 0 0 7px;
    display: flex;
    justify-content: space-between;
}
.proxy_control {
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: space-between;
}
