.ant-breadcrumb a {
    color: rgba(255, 255, 255, 0.45) !important;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.ant-breadcrumb > span:last-child{
    color: rgba(255, 255, 255, 0.65) !important;
}
.ant-breadcrumb > span:last-child a {
    color: rgba(255, 255, 255, 0.81) !important;
}
.ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.45) !important;
}
